.mjk-method {
    font-size: 20;
    padding-left: 8;
    padding-right: 8;
    padding-top: 16;
    padding-bottom: 16;
}

.mjk-header {
    padding: 8;
    font-size: 16;
    text-align: center;
    background-color: limegreen;
    color: white;
}
